<div id="noughts" ng-app="noughts">
  <div ng-controller="GameCtrl">
    <div id="board">
      <div ng-repeat="cell in board.cells">
        <div ng-click="mark($index, board.HUMAN)" class="mark square">{{cell}}</div>
      </div>
    </div>
    <h1 ng-show="board.winner">{{board.winner}} wins!</h1>
    <h1 ng-show="board.draw">Draw!</h1>
  </div>
</div>
